
<form onsubmit='window.location = `http://localhost:8083/products/` + id.value; return false;' method="get">
    <p>Ingresar el ID del producto</p>
    <input type="text" id="id" name="id" placeholder="ID num">
    <input type="submit" value="Ir">

</form>
